.services{
    padding: 10px 0!important;
}
.service_item{
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.service_item:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.service_item:hover span{
    animation: nope 0.4s forwards;
}
/* .service_item{
    &:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    &:hover span{
            animation: nope 0.4s forwards;
    }
} */
@keyframes nope{
    0%{transform: translateX(0px);}
    20%{transform: translateX(-5px);}
    40%{transform: translateX(5px);}
    60%{transform: translateX(-5px);}
    80%{transform: translateX(5px);}
    100%{transform: translateX(0px);}
}
.service_item span i {
    font-size: 2.2rem;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    color: #fff;
    font-weight: 400 !important;
}
.service_item h3{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}
.service_item p{
    font-size: 0.9rem;
    margin-top: 5px;
    color: var(--text-color);
}
@media only screen and (max-width: 576px) {
    .service_item span{
        font-size: 1.8rem;
        padding: 5px;
    }
    .service_item h3{
        font-size: 1rem;
    }
    .service_item {
        padding: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .service_item {
       margin-bottom: 1.5rem;
       padding: 20px;
    }
    .service_item span i{
        font-size: 1.8rem;
        padding: 5px;
    }
}
@media only screen and (max-width: 992px) {
    .service_item {
       padding: 10px;
    }
}