
.choose-country {
    position: relative;

}
.choose-country .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-bottom: 1px solid var(--night-blue);
}
.choose-country .dropdown img {
    width: 2.5em;
}
.choose-country .dropdown span {
    width: 1.5em;
    height: 1.5em;
    background: var(--transparent2);
    clip-path: polygon(50% 80%, 10% 24%, 86% 24%);
}
.countries-list {
    position: absolute;
    /* left: 15%; */
    top: 97%;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background: var(--white);
    transition: all 1s ease-out;
}
.countries-list.show {
    height: 200px;
    overflow-y: auto;
}
.countries-list .country {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.countries-list .country img {
    width: 50px;
    margin: 0px 20% 0px 2%;
}
.countries-list h4 {
    margin: 20px 0px;
}

@media screen and (min-width: 768px) {
    .choose-country .dropdown {
        cursor: pointer;
    }
    .choose-country .dropdown span:hover {
        background: var(--night-blue);
    }
    .countries-list .country:hover {
        background: var(--transparent);
        cursor: pointer;
    }
    
}
