.user-button {
  /* border: 1px solid #000; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 5vh;
  padding: 0.5%; */
  /* background: var(--transparent); */
  /* border-radius: 50%; */
}
.user-button.connected {
  background: var(--red);
}
.menu-text {
    display: flex;
    align-items: center;
    color: var(--night-blue);
    font-size: 1.1em;
    font-weight: 500;
}

.header .user {
  /* border: 1px solid #000; */
}

