.footer{
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #000;
    z-index: 2;
    position: relative;
}
.me-1{
    width: 200px;
}
.footer_text{
    line-height: 30px;
    color: rgba(255, 255, 255, 0.735);
}
.footer_quick-links ul li{
    background: transparent !important;
}
.footer_quick-links ul li a{
    color: rgba(255, 255, 255, 0.735);
}
.quick_links-title {
    margin-bottom: 30px;
    color: #fff;
    font-size: 1.1rem;
}
.footer_contact li span,.footer_contact li p{
    color: rgba(255, 255, 255, 0.735);
}
.footer_contact li span{
    font-style: 1.2rem;
}
.footer_contact li p{
    font-style: 1.2rem;
}
.footer_copyright {
    color: rgba(255, 255, 255, 0.735);
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
}


.logo_footer{
    width: 18%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.dev_link{
    font-weight: 600;
    &:hover{
        color: #fff;
    }
}
.dev_link:hover{
    color: #fff;
}
.footer_firt-content{
    border-right: 2px solid var(--color-theme)!important;
}
.footer_top{
    width: 100%;
    height: 10px;
    background-color: var(--hero-bg);
    z-index: 2;
    position: relative;
}
@media only screen and (max-width: 992px) {
    .quick_links-title{
        margin-bottom: 0px;
    }
    .footer_firt-content{
        border: none;
        border: 2px solid var(--color-theme)!important;
    }
}