@font-face {
    font-family: 'proxima-nova';
    src: url('../assets/font/proxima-nova.otf');
}

.suivi-content1 .suivi-section .ligne-rouge{
    width: 10%;text-align: left;padding-bottom: 5px;
    border-bottom:2px solid #ee5253;
}

.reponse{
    width: 71%;
    margin-left: auto;margin-right: auto;
    margin-top: 22px;
    padding: 15px 5px 12px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #707070;
    border-bottom: 1px solid rgb(245, 56, 56);
    background: white;
}
.reponse:hover{
    width: 71%;
    background: white;
    margin-left: auto;margin-right: auto;
    margin-top: 22px;
    padding: 15px 5px 12px 20px;
    text-align: left;
    display: flex;cursor: pointer;
    flex-direction: column;
    color: #5c5959;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;        opacity: 1;
}
.reponse-content1{
    width: 70%;
    padding: 5px 10px 5px 50px;
    font-size: 20px;font-weight: bold;
    color: rgb(245, 56, 56);
}
.reponse-content2{
    width: 85%;
    padding: 5px 10px 5px 12px;
    font-size: 15px;
    display: flex;
    
}.reponse-content3{
    width: 50%;
    padding: 5px 10px 5px 12px;
    font-size: 12px;
    font-family:'Lucida Sans Unicode';
}
.suivi1-content{
    width: 82%;background: #f5f2f2;margin-left: auto;margin-right: auto;
    padding-top: 15px;margin-top: 15px;
}
.title-video{
    padding: 15px;
}


/*--style des suivi --*/

.suivi-content1{
    width: 100%;
    background: #F3F5F7!important;
    padding: 5% 0px;
}
.suivi-section{
    width: 71%;
    margin-left: auto;margin-right: auto;
    padding: 40px 65px;
    background-color: white;
}
.title-video{
    color:#707070;
    margin-bottom:'15px';
    text-align:'left';display: flex;justify-content: center;
    font-family: 'Montserrat-Black';
}
.suivi-titre{
    font-style: normal;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    display: flex;justify-content: center;
    padding: 12px 0px 30px 0px;
    color: #ee5253;
}
.suivi-titre3{
    font-style: italic;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 50px 12px;
    display: flex;
    color: #858585!important;
    text-align: left;
}
.suivi-paragraph{
    line-height: 1.53;
    font-size:17px;
    word-wrap: break-word;
    color: #858585;
    font-family: 'proxima-nova';
}
.suivi-titre4{
    font-weight: bold;
    padding: 7px 7px 7px 7px;color: #707070;font-style: italic;
}


@media only screen and (max-width: 576px){
    .suivi-section {
        min-width: 81%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }
    .suivi-section{
        width: 71%;
        margin-left: auto;margin-right: auto;
        padding: 10px 15px;
        background-color: white;
    }
}